* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1c121f;
  font-family: 'Open Sans', sans-serif;
}

.container {
  position: relative;
  max-width: 1397px;
  padding: 0;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #1c121f;
}

::-webkit-scrollbar-thumb {
  background: #FF8C00;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff8c00c5;
}

.nav__bar nav {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__bar nav a {
  text-decoration: none;
}

.nav__bar nav img {
  width: 60px;
  height: 60px;
}

.nav__bar nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav__bar nav ul li {
  display: inline-block;
  margin-right: 50px;
}

.nav__bar nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}

.nav__bar nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -3px;
  width: 100%;
  height: 1.5px;
  background-color: #FF8C00;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav__bar nav ul li a:hover::after {
  transform: scaleX(1);
}

.nav__bar nav ul li input {
  font-family: 'Open Sans', sans-serif;
  background-color: whitesmoke;
  font-weight: 600;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-size: 18px;
}

.hamburger__menu {
  color: white;
  font-size: 35px;
  display: none;
  cursor: pointer;
}

.hamburger__menu:hover {
  color: #FF8C00;
}


@media screen and (max-width: 1024px) {
  .nav__bar nav ul {
      position: fixed;
      left: 0;
      top: 0;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      background: #1c121f;
      align-items: center;
      justify-content: center;
      transform: translateX(-100%);
      transition: transform 0.3s ease;
      padding-top: 50px;
  }

  .nav__bar nav ul.open {
      transform: translateX(0);
  }

  .nav__bar nav ul li {
      margin: 20px 0;
  }

  .hamburger__menu {
      display: block;
      position: absolute;
      right: 20px;
      top: 20px;
  }
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.home h1 {
  font-size: 3.4em;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: white;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(151, 151, 151, 0.5);
}

.home p {
  font-size: 1.8em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
  color: rgb(179, 179, 179);
  margin-bottom: 30px;
}


.home input {
  border-radius: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background-color: whitesmoke;
  padding: 10px;
  font-size: 1em;
  width: 100%;
  max-width: 750px;
  margin-bottom: 20px;
}

.home button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.home button:hover {
  background-color: #FF8C00;
  color: white;
}

@media (max-width: 1024px) {
  .home {
      padding: 40px;
  }

  .home h1 {
      text-align: center;
      font-size: 2.5em;
  }

  .home p {
      font-size: 2em;
      text-align: center;
  }

  .home input {
      width: 100%;
  }
}